<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure the 'public' folder is served first
    RewriteCond %{REQUEST_URI} !^/public/

    # Redirect all requests to the public/index.php file
    RewriteRule ^(.*)$ public/index.php/$1 [L]
</IfModule>

