/*------------------------------------------------------------------
    File Name: custom.css
-------------------------------------------------------------------*/

/** ADD YOUR AWESOME CODES HERE **/

.logoblack{height: 42px;}

.hideMe{display:none;}

.form-input {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.profile-btn-box{
    text-align: right;
}

.alert {
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.profilePhotoCamera{
    background-color: #4e4c4cc7;
    color: #fff;
    border-radius: 100% 100%;
    position: fixed;
    margin-top: 0px;
    text-align: center;
    width: 75px;
    height: 75px;
    opacity: 0;
}

.profilePhotoCamera:hover{
    opacity: 1;
    color: #fff;
}

.portalLinkContainer {
    display: block;
    position: inherit;
    bottom: 0;
    margin: auto;
    top: 0;
    margin-top: 15px;
    margin-right: 5px;
}

.portalLinkContainer .btn-copy-link {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.required {
    color: #dc3545;
}

.pdl-20{padding-left: 20px !important;}
.pdr-20{padding-right: 20px;}
.borderright-1{border-right:1px solid #f3f3f3;}

.documentBlock{
    border: 1px dashed #007bff;
    width: 100px;
    height: 112px;
    margin: auto;
    border-radius: 0px;
    /* text-align: center; */
    padding: 5px 5px 5px 5px;
}

.documentBlock .fa.fa-file-image-o{
    font-size: 64px;
    margin-bottom: 3px;
    color: #007bff;
}

.updateStatusBtn{
    float:right;
}

.text-align-right {
    text-align: right;
}

.pagination .btn.paginate_button{
    font-size: 1.3rem !important;
}

.pagination .btn.active.paginate_button,
.pagination .btn.paginate_button:hover,
.pagination .btn.paginate_button:focus {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}

.pagination .btn.paginate_button {
    background: #fff;
    color: #007bff;
    border-color: #007bff;
    width: 45px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
}

.price_table_head h2 {
    line-height: normal;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding: 18px 20px;
    font-size: 20px !important;
}

.cont_table_price_blog p {
    font-size: 15px !important;
    line-height: normal;
    margin: 0;
    padding: 15px 0;
    font-weight: 400;
    border-bottom: solid #ddd 1px;
}

.cont_table_price_blog p span.price_no {
    font-size: 25px !important;
    font-weight: 600;
}

.cont_table_price li {
    margin: 10px 0;
    float: left;
    width: 100%;
    /* padding-bottom: 5px; */
    font-size: 15px;
    font-weight: 300;
    padding: 0px 1px 0px 1px !important;
}

.cont_table_price li .fa.fa-check{
    color:#1ed085 !important;
}